@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
li, p, a, nav, header, footer, div, span {
  font-family: "Roboto Condensed", sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: "IBM plex sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 30px;
}

.contain-top-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.contain-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: black;
}

.info:hover, .svg:hover {
  cursor: pointer;
  color: #3ead3c;
  filter: invert(56%) sepia(70%) saturate(435%) hue-rotate(70deg) brightness(85%) contrast(98%);
}

.btn-info {
  color: white;
  font-weight: 600px;
  padding: 10px 15px;
  border-radius: 6px;
  background: #3ead3c;
  cursor: pointer;
  width: fit-content;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-info:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 1;
}

.svg {
  width: 20px;
  height: 20px;
}

.contain-logo > img {
  width: 250px;
  cursor: pointer;
}

ul > li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.a-nav {
  color: black;
  font-size: 20px;
}

.a-nav:hover {
  color: #3ead3c;
}

.burger {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .contain-nav {
    display: none;
  }

  .contain-top-header {
    width: 100%;
    max-width: none;
    justify-content: space-between;
  }

  .contain-info {
    gap: 10px;
    font-size: 14px;
  }

  .contain-logo > img {
    width: 180px;
  }
  
  .burger {
    display: block;
    /* margin: 0 auto; */
  }

  .open {
    opacity: 0;
    transition: 0.4s opacity ease;
  }

  .open {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    transition: padding 0.5s ease;
  }
}

/* MAIN  */

.contain-main {
  padding: 200px 0;
  width: 100%;
  height: 40vh;
  background-image: url('./images/background.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 1200px;
}
.content {
  background: rgba(255, 255, 255, 0.7);
  padding: 40px;
  max-width: 70%;
}